<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Squad Antidrogas</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag "application.css" %>
</head>
<body>
	<div class="grid-container">
		<div class="header">
			<h1>Squad Antidrogas</h1>
			<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %> alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<%= value %>
			</div>
			<% end %>
			<% if current_user %>
			Bienvenido <%= current_user.email %> <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
			<% end %>
		</div>
		<div class="menu">
			<ul class="menu">
				<li><%= link_to 'Login', new_user_session_path %></li>
				<li><a href="">Noticias</a></li>
				<li><a href="#">Contactos</a></li>
				<li><a href="#">Acerca de</a></li>
			</ul>
		</div>
		<div class="main">
			<%= yield %>
		</div>  
		<div class="right">
			<h4>Nuestros Patrocinadores</h4>
			<%= link_to "http://fedesoft.org/"  do %>
			<%= image_tag('fedesoft.png') %> 
			<% end %><br>
			<%= link_to "http://www.mintic.gov.co"  do %>
			<%= image_tag('mintic.png') %> 
			<% end %><br>
			<%= link_to "http://www.colciencias.gov.co/"  do %>
			<%= image_tag('colciencias.png') %> 
			<% end %><br>
			<%= link_to "http://es.presidencia.gov.co"  do %>
			<%= image_tag('gobcol.png') %> 
			<% end %><br>
		</div>
		<div class="footer"><h6>&copy;SquadAntidrogas 2018.</h6></div>
	</div>
</body>
</html>